/* body,
html {
  margin: 0;
  padding: 0;
} */


@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Maven+Pro:wght@400;500;600;700;800;900&family=Poppins:wght@300;400;500&family=Work+Sans:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Inter:wght@300;400;500&family=Maven+Pro:wght@400;500;600;700;800;900&family=Work+Sans:wght@900&display=swap');

* {
  
  font-family: "Inter", Sans-serif;
}

h1, h2, h3 {
  font-family: "Poppins", Sans-serif;
}